@import "susy/susy";

// The susy map
$susy: (
  global-box-sizing: border-box,
  debug: (image: show),
  columns: 12,
  gutters: 1/7
);

@include border-box-sizing; // box-sizing is best


body.homepage {
  background-color: #876352;
  font-size: 18px;

  #heading {
    @include container;
    height: 40px;
    background-color: lighten(cornflowerblue, 8%);

    .heading__logo {
      @include span(2);
      height: 100%;
    }
    .heading__top-nav {
      height: 100%;
      &__menu {
        list-style: none;
        > li {
          @include span(2);
          display: inline-block;
          height: 100%;
          background-color: cornflowerblue;
          cursor: pointer;
          &:last-child {
            float: right;
          }
        }
      }
    }
    .heading__top-nav--small {
      display: none;
    }
  }

  #mid-body {
    @include container;
    background-color: rgba(220, 190, 194, 0.6);
    width: 100%;
    height: 62vh;

    main {
      @include span(8);
      height: 100%;
      background-color: rgba(192, 192, 180, 0.6);
      border-radius: 4px;
      padding-left: 6px;
      padding-right: 6px;
      h1 {
        text-align: center;
      }
    }

    aside.relevant-links {
      @include span(4 last);
      height: 100%;
      background-color: rgba(162, 192, 200, 0.6);
      border-radius: 4px;
    }
  }

  @include with-layout(18 1/7) { // Temporarily change layout to 18 cols
    #lower-section {
      @include container;
      @include susy-clearfix;
      margin-top: gutter();
      margin-bottom: gutter();
      background-color: rgba(162, 204, 176, 0.6);
      .promo {
        @include span(4);
        height: 100px;
        text-align: center;
        background-color: rgba(140, 216, 200, 0.6);
        &:first-child {
          margin-left: span(1) + gutter();
        }
      }
    }
  }

  @include with-layout(7 1/6) { // Temporarily change to a 7 column layout
    #footer {
      @include container;
      @include susy-clearfix;
      //margin-top: gutter();
      background-color: rgba(192, 192, 180, 0.6);

      .footer__item {
        @include span(1);
        background-color: lighten(cadetblue, 5%);
        &:first-child {
          margin-left: span(2) + gutter();
        }
      }
    }
  }

  // This block uses a 3 column layout
  @include with-layout(3 1/8) {
    #copyright {
      @include container;
      @include susy-clearfix;
      font-family: Helvetica, Arial, sans-serif;
      background-color: black;
      color: #efefef;

      span {
        @include span(1);
        margin-left: span(1) + gutter();
        text-align: center;
      }
    }
  }


  // Mobile - back to twelve columns
  @media (max-width: 900px) {
    //@include layout($cols_7);

    #heading {
      .heading__logo {
        @include span(2);
      }
      .heading__top-nav--small {
        @include span(1 last);
        display: block;
        cursor: pointer;
      }
      .heading__top-nav {
        display: none;
      }
    }
  }
}
